body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;

}
nav {
    display: flex;
    justify-content: space-between;
    margin:0px 200px;
    
    
}
 .nav-title {
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;

}
.text-orange{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.banner-para{
    color:#757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}

.banner-title{
    max-width: 500px;
}
.banner-hi{
    color:#474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-mary{

    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;


}
.btn-orange{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    padding: 18px 35px 19px 36px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.btn-call{
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: #FD6E0A;
    border-radius: px;
    margin-left: 30px;
}
.header-style{
    background-color: #FFF8F3;
}
.banner{
   padding: 30px 30px 0px 150px;
   display: flex;
   align-items: center;
}
.banner .banner-pic{
    width: 500px; 

}
.banner{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    justify-content: space-between;
}
.about-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    /* padding: 131px 485px 371px 486px; */
}

.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    /* padding: 209px 157px 221px 156px; */
}
#what-i-do{
    padding: 30px 115px;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    padding: 131px;
    /* max-width: 1140px; */
    /* max-height: 550px; */
}
main{
    max-width: 1140px;
    max-height: 550px;
    margin: 0px auto;
}
.about-introduction{
    display: flex;
    justify-content: space-between;
    
}
.about-info{
    text-align: center;
}
.about-head{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 10px;
}
.about-para{
    color:#757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
}
.skill-knowledge{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
    
   
.skill-info{
    
    display: flex;
    gap: 24px;
    
    
}


.skill-para{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    /* padding: 33px; */
    line-height: 28px; /* 175% */

}
.skill-head{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
/* summary here. */
.summary-main-title{
    margin-top: 130px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.summary-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-top: 113px;
}
.summary-container{
    display: flex;
    
}


hr{
    width: 558px;
    height: 1px;
    background: #D1D1D1;
    margin-right: 24px;
    margin: 30px 24px 30px 0px;
}
.summary-item-title{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;                                                                                                                                                        
}
.summary-item-institute{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.summary-item-description{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-right: 130px;
}
.Download-CV{
    text-align: center;
    margin-top: 50px;

}
/* footer-contact */
.contact-container{
    width: 1600px;
    height: 780px;
    flex-shrink: 0;
    background: #FFF8F3;
    margin: 132px;
}